#BreakFastDetailsContent {
	
margin-left: 10px;
margin-top: 20px;
}

#BreakFastDetailsContent div {
	display: inline-block;
    margin-left: 10px;
    
	
}


#BreakFastDetailsContent div  div {
	width:190px;
	height:165px;
	 
	  
	  border:solid 3px #fff;
		-webkit-box-shadow: 0px 0px 12px 0px rgba(119, 119, 119, 0.75)

}
#BreakFastDetailsContent div div  img {

	width: 190px;
	height: 165px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: contain;border: 
	

}



.BreakfastDetailsspan {
	display:block;
	width:190px;
    height:100px;
	color:#1296FF;
	cursor: pointer;
	text-align: center;
	font-size: 17px;


}
.BreakfastDetailsspan:hover{
	
 text-decoration: underline;
	
	
}

