.RecipesDetails{
	
margin-left: 98px;
margin-top: 30px;
}

.RecipesDetailsDiv {
	display: inline-block;
    margin-left: 30px;
}



.RecipesDetailsDivDiv {
	width:190px;
	height:155px; 
	  
	  border:solid 1px #fff;
		-webkit-box-shadow: 0px 0px 12px 0px rgba(119, 119, 119, 0.75)

}

.RecipesDetailsDivDivImg {

	width: 190px;
	height: 155px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: contain;border: 
	

}



.RecipesDetailsSpan {
	display:block;
	width:190px;
    height:75px;
	color:#fff;
	cursor: pointer;
	text-align: center;
	font-size: 17px;
    margin-left:1px;
	margin-bottom: 25px;
	margin-top: -2px;
	padding-top: 4px;
	background-color:#fd562c;
	text-decoration: underline;
	
    

}
.RecipesDetailsSpan:hover{
	
 text-decoration: underline;
 background-color:#fff;
 color:#1296FF ;

	}

