.IngredientsStyleContent{
	  height: 100%;
	  width:100%;
	
}
.IngredientsStyleMain{
	margin-left:5%;
	margin-right:5%;
	background-color: #fff;
	border: dotted 1px;
	margin-top: 10px;
	padding-bottom:6%;
}
.IngredientsStyleMainDiv{
	padding-left:20px; 
	  padding-top:20px;
}
.IngredientsStyleMainDivDiv{
	
	width:300px;
	height: 250px;
	 display:inline-block;
	
	 border:solid 2px #fff;
   -webkit-box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.75);
}
.IngredientsStyleMainDivDivImg{
	
	width: 300px;
	height: 250px;
	
}
/*.ButtonStyle{
	width: 720px;
	height: 12px; 
	 margin-top: 20px;
	 margin-left: 92px;
}*/
.IngredientsStyleDetails{
	
	
	padding-left: 2%;
	margin-top: 0px;
	height:auto ;
	padding-top: 10px;
	margin-bottom: -3%;
}
.IngredientsStyleDetailsDiv{
	
	background-color:#fd562c;
	width:190px;
	height:32px;
	
}
h2{
	color:#f8f5e2;
	font-family:'MuseoSans-500', sans-serif;
	font-size: 18px;
	padding-left:30px;
	padding-top: 5px;
}

li
{
	font:  normal 14px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
	color:#333333;
	font-size: 17px;
	line-height:160%;
	margin-left: 5%;
	
}
.hrStyle{
width:80%;
margin-bottom: 2%;
}
.IngredientsStyleMethod{
	
	padding-left: 2%;
	
}
.IngredientsStyleMethodHead{
	background-color:#fd562c;
	width:133px;
	height:32px;
	margin-bottom: 2%;
}
span{
text-decoration: underline;
font-size: 18px;
color:#fd562c;
font-family:"Arial Rounded MT Bold";
}

