.IngredientsDetailsContent{
	  height: 100%;
	  width:100%;
	
}
.IngredientsDetailsMain{
	margin-left:5%;
	margin-right:5%;
	background-color: #fff;
	border: dotted 1px;
	margin-top: 10px;
	padding-bottom:7%;
}
.IngredientsDetailsMainDiv{
	padding-left:20px; 
	  padding-top:20px;
}
.IngredientsDetailsMainDivDiv{
	
	width:300px;
	height: 250px;
	 display:inline-block;
	
	 border:solid 2px #fff;
   -webkit-box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.75);
}
.IngredientsDetailsMainDivDivImg{
	
	width: 300px;
	height: 250px;
	
}
/*.ButtonStyle{
	width: 720px;
	height: 12px; 
	 margin-top: 20px;
	 margin-left: 92px;
}*/
.IngredientsDetailsTable{
	
	display: inline-block;
	padding-left: 20px;
	margin-top: 0px;
	height:auto ;
	padding-top: 10px;
}
.IngredientsDetailsTableDiv{
	
	background-color:#fd562c;
	width:190px;
	height:32px;
}
.Tableh2style{
	color:#f8f5e2;
	font-family:'MuseoSans-500', sans-serif;
	font-size: 18px;
	margin-left: 30px;
	padding-top: 5px;
}
.TableTr{
	padding-left: 20px;
	
}
.TableTd
{
	font:  normal 14px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
	color:#262626;
	font-size: 17px;
}
.hrStyle{
width:80%;
}
.IngredientsMetthodDetails{
	
	padding-left: 20px;
}
.IngredientsMetthodHead{
	background-color:#fd562c;
	width:115px;
	height:32px;
}
.Methodh2Style{
	color:#f8f5e2 ;
	font-family:'MuseoSans-500', sans-serif;
	font-size: 18px;
	padding-left: 20px;
	padding-top: 5px;
}
.MethodParagraph{
	padding-left:20px;
}
.MethodPtag{
	normal normal 14px Georgia, Utopia, 'Palatino Linotype', Palatino, serif;
color: #121212;
	
	font-size: 110%;
}
