html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
#MainPageTitle {
	background-color: #fff;
	font-family: Brush Script MT;
	font-size: 50px;
	color: #FF0000;
	text-align: center;
	text-shadow: #80FF33 10px 10px 2px;
}

#MainPageSearchTitle {

	background-color: #5A5A5A;
}
#MainContentAdd {
	padding-top: 10PX;
	margin-bottom: 10px;
	
}
#MainContentAdd div {
	display: inline-block;
	background-color: #003D00;
	margin-left:200px;
}
#MainContentAdd div div {
	width: 750px;
	height: 40px;
 
    
}

#MainContentAdd did div img {

	width: 750px;
	height: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

#MainContentPage {
	padding-top: 10px;
	
}

#MainContentPage div {
	display:inline-block;
	
	background-color:  #FFFFFF;

 

box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.75);
/*-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);*/
-webkit-box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.75);
margin: 6px;
}

#MainContentPage div:hover {
    background-color: #FFD63D;
	cursor: pointer;
	
}

#MainContentPage div div {
	width: 165px;
	height: 200px;
-

}

#MainContentPage div div img {
	width: 165px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: contain;
   padding: 4px;
   padding: 0;4px;
   border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.captionDetails {
	display: block;
	height: 60px;
	font-family: Geneva;
	font-size: 20px;
	color: #000000;
	display: table-cell;
	text-align: center;
	

	
}

.captionDetails:hover {
   
    color:#fff; 
	font-family: "Rage Italic";
	font-size: 25px;
}

